flask>=0.12.3
Flask-Login==0.3.2
Flask-OAuthlib==0.9.2
Flask-RESTful==0.3.5
oauthlib==1.1.1
pydash==2.4.2
Werkzeug==0.15.3
Faker==0.7.18
factory_boy==2.9.2
factoryboy-gaendb==0.1.5
Unidecode==0.4.19
GoogleAppEngineCloudStorageClient==1.9.22.1
PyYAML>=3.11
tabulate>=0.7.0
xlrd>=0.9.3
xlwt>=1.0.0
numpy==1.21.0
python-dateutil>=2.6.1
#-e git+git://github.com/jajberni/pcse@gae_migration#egg=pcse
